deepspeed==0.8.2
apex
timm==0.5.4
webdataset>=0.2.5
tqdm
pandas
braceexpand
huggingface_hub
transformers
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
sh
wandb
ftfy
regex
iopath
pyyaml
ijson
