deepspeed==0.8.2
apex
timm==0.5.4
webdataset>=0.2.5
tqdm
pandas
braceexpand
huggingface_hub
transformers==4.30.2
Pillow
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
sh
wandb
ftfy
regex
iopath
pyyaml
ijson
pydantic==1.10.9
protobuf==3.20.0